---
import Container from "./Container.astro"

---

<div id="pricing" class="w-full  ">
  <Container >
    <div class="flex flex-col items-center ">
    <div class="md:w-2/3 lg:w-1/2">
   
      <h2 class=" text-2xl text-center  font-bold text-gray-700 dark:text-white md:text-4xl">
        Buy once, use forever
      </h2>
      <!-- <p class="text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ad ipsum pariatur autem, fugit laborum in atque amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p> -->
    </div>
    <div
      class="mt-16 max-w-sm divide-x divide-y  divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 "
    >
      <div class="group relative bg-white px-8 dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <div class="flex flex-col items-center gap-4 justify-between">
            <h3 class="text-2xl font-semibold mx-8  text-gray-700 dark:text-white transition ">
              Early Bird
            </h3>
         
                      <div class="text-gray-600 dark:text-gray-300 line-through">$39.99</div>

            <div class="text-black dark:text-white text-4xl">$29.99</div>

          <div class="space-y-2 my-4">
            <h5
              class="  text-gray-700 dark:text-white transition "
            >
              Track your replies
            </h5>
            <h5
              class="  text-gray-700 dark:text-white transition "
            >
            Gaily goal
            </h5>
            <h5
              class="  text-gray-700 dark:text-white transition "
            >
            <h5
              class="  text-gray-700 dark:text-white transition "
            >
            Filter posts
            </h5>
            <h5
              class="  text-gray-700 dark:text-white transition "
            >
            Unlimited usage
            </h5>
    
          </div>
           <a
                      href="https://chromewebstore.google.com/detail/replymore/ipfbflmifkonfidogacgclmiglocoeee"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Install for Chrome</span
                      >
                    </a>
        </div>
      </div>
     

  
    </div>
    </div>
  </Container>
</div>