---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        What users think.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/Reasonably Small 128x.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@TikitaTech</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Software Contractor</p>
          </div>
        </div>
        <p class="mt-8">Just installed! It's a great feature, blends in nicely with twitter's aesthetic. It's useful having it up in the corner so that it's not getting in the way, but also great for keeping track of things quickly with just a glance. I responded to someone's post and it updated instantly which is really nice. I'll keep trying it out, I think it's definitely what I need for building up a twitter following - I'll give you a 5 star review. Congrats on the launch!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/JCkqKtVP 96x96.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@mefengl
</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Indiehacker</p>
          </div>
        </div>
        <p class="mt-8">Looks like just what I needed 😂</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/FlIMTp-w 96x96.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@leoschettini2</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Developer</p>
          </div>
        </div>
        <p class="mt-8">Saw the video on the other post, very nice how it integrates! It’s looking nice</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/Twitter Profile Pic.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@bootstrawSam</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Founder</p>
          </div>
        </div>
        <p class="mt-8">this tool is getting better every day</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/LNNqgciz 96x96.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@FlavienNorindr</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Founder</p>
          </div>
        </div>
        <p class="mt-8">I like the concept, it's original!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/Twitter Profile.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">@calebsylvest</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">UI/UX Designer</p>
          </div>
        </div>
        <p class="mt-8">I’m using TweetMore daily. It has helped me be more intentional posting and replying vs infinite scrolling</p>
      </div>

    </div>
  </Container>
</div>